<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My items</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="showItemDetails(item)">
      {{ item.text }}
    </ion-item>
    <!--<ion-infinite-scroll (ionInfinite)="loadData($event)"  style="height: 70vh">-->
      <!--<ion-infinite-scroll-content-->
              <!--loadingSpinner="bubbles"-->
              <!--loadingText="Loading more data...">-->
      <!--</ion-infinite-scroll-content>-->
    <!--</ion-infinite-scroll>-->
  </ion-list>
</ion-content>
